#**1Q: write the rules for creating variables?.**
- variables  start with with alphanumerics.
- variables will not start with special characters except underscore.
- variables is case sensitive.
- variables will not be keywords.

- variables will not start with digits.

#**2Q:what is type function?**
- type function is used to known which data type of data stored in variable.

In [102]:
x=0.33
print(type(x))

<class 'float'>

#**3Q: what is difference between = and ==?**
- = is used to assign values to variables
- == is used to compare the two variables

#**4Q: what is the different between mutable and imutable?**
- mutable is we can change and modify the element or valuses.

      Eg:-list,string,set

- immutable is we cannot change or modify the elements or values .

      Eg:_ tuple

#**5Q:-write python program sum of first natural numbers?**

In [103]:
a=[1,2,3,4,5,6,7,8,9,10]
sum=0
for i in a:
  sum=sum+i;
  print(sum)

1
3
6
10
15
21
28
36
45
55

#**1Q: write python program to identify given number is a prime (or) not?**

In [37]:

num = int(input())
if num > 1:
    for i in range(2, int(num/2)+1):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")

4
4 is not a prime number

#**2Q: write a python program  Fibonacci series of given number?**

In [42]:
n=int(input("enter the number"))
num1 = 0
num2 = 1
next_number = num2
count = 1

while count <= n:
    print(next_number, end=" ")
    count += 1
    num1, num2 = num2, next_number
    next_number = num1 + num2
print()

enter the number11
1 2 3 5 8 13 21 34 55 89 144

#**3Q: write a python program to identify factorial number of given number?**

In [65]:
n1=int(input("enter the number"))
fact=1
if n1 < 0:
   print("enter positive integer")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,n1 + 1):

    fact = fact*i
   print("The factorial of",n1,"is:",fact)

enter the number9
The factorial of 9 is: 362880

#**4Q: write a python program to print multiplication table of given number?**

In [67]:
num = int(input("enter the multiplaction talbe? "))

# Iterate 10 times from i = 1 to 10
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

enter the multiplaction tabbe? 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

#**5Q: write a python program to count total number of digits in a number?**

In [72]:
num  = int(input("enter the number"))
count = 0

while num != 0:
    num //= 10
    count += 1

print("Number of digits: " + str(count))

enter the number2222
Number of digits: 4

#**6Q: write a python program to print list in reverse using loop?**

In [101]:

list = input("enter a list of numbers:")
r = []
for b in reversed(list):
    r.append(b)
    print(b)

enter a list of numbers:123456
6
5
4
3
2
1

#**7Q:write a python to display from -10 to -1 using loop?**

In [ ]:
for i in range(-10 , 0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1