#1) What is Python and why is it popular?
- Python is a programming and oriented language.
- Python is a high level programming language
- In python we have many libraries
- easy to learn
#2) What is an IDE and name a few popular Python IDEs?
-IDE- IDE is Integrated Development Environment
- IDEs is a software application that provides to run the code or to test the code
-  jupyter notebook google code pycharm and some online compilers
#3) What are the rules for naming variables in Python?
- Variables start with alpha numeric (A-z, 0-9)
-  variables cannot have special characters except underscore(_)
- Variables does not start with digits
- Variables is case sensitive
- variables cannot start with keywords
#4) How do you assign multiple values to multiple variables in a single line?

In [4]:
a,b,c=7,8,9

print(a)
print(b)
print(c)
print(a,b,c)

7
8
9
7 8 9

#5) Can you use Python keywords as variable names? Why or why not?
- We can not use Python Keywords as variable names
- keywords are reserved words in python
- we have 35 keywords in python where we can not use those as keywords
- if you use keywords you will get a syntax error.

#6) Why are comments important in programming?
- comments are used to understand the code easily
#7) What are the basic data types in Python?
- There are 4 basic data types in python

 Integer, float, complex,boolean.

#8) How do you convert a string to an integer in Python?
- use the built-in int() function to convert a string to an integer.

In [9]:
a=("123")
print(type(a))
a=int(a)
print(type(a))

<class 'str'>
<class 'int'>

#9) What is the difference between int and float?
 INT

 - INT means it has real numbers and whole number
 - it will be in -infinity to +infinity

     example:-0,1,2,3,........

Float
- It has decimal numbers
- it will be in -infinity to + infinity

    Example 2.3,4.5,6.7,.......
#10) How do you check the data type of a variable?
- by using "type()" command we can check data types of a variable

In [11]:
a=(2,3+1j)
print(type(a))

<class 'tuple'>

#11) How do you add an element to a list?
- we can use append() operation for adding the element to a list

In [15]:
names=["mallesh","pavan","yogesh"]
names.append("kanna")
print(names)

['mallesh', 'pavan', 'yogesh', 'kanna']

12) How do you create a tuple with one element?
- we can create a tuple with lift side comma of one element

In [17]:
a=(123,)
print(a)
print(type(a))

(123,)
<class 'tuple'>

#13) How do you access a value in a dictionary using a key?
- By using key() method we can able to acces a value in a dictionary

In [20]:
student={"name":"pavan","age":23,"grade":"a"}
print(student["name"])
print(student["age"])
print(student["grade"])

pavan
23
a

#14) How do you access elements in a list?
- by assigning the index method we can accsess

In [21]:
fruits=["apple","banana","cherry"]
print(fruits[0])
print(fruits[1])
print(fruits[2])

apple
banana
cherry

#15) How do you access a character in a string?
- to access a character in a string uses of []

In [23]:
a="hello"
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

h
e
l
l
o

#16) How do you format strings in Python?
- format method

In [24]:
name="pavan"
age=23
print("my name is {} and my age is {}".format(name,age))

my name is pavan and my age is 23

#17) What is a tuple and how is it different from a list?
- tuple is immutable we cannot modify elements and has only two methods
- list is mutable we can modify elements

#18) How do you concatenate two tuples?

In [27]:
names= ("pavan", "mallesh", "yogesh")
print(names)
fruits = ("apple", "banana", "cherry")
c= names+fruits
print(c)

('pavan', 'mallesh', 'yogesh')
('pavan', 'mallesh', 'yogesh', 'apple', 'banana', 'cherry')

#19) How do you access values in a dictionary?
- by using [] and get method we can access the dictinory

In [29]:
names={1:"pavan",2:"yogesh",3:"kanna"}
a=names[1]
print(a)

pavan

#20) How do you add a key-value pair to a dictionary?

In [31]:
names={1:"pavan",2:"yogesh",3:"kanna"}
names[4]="mallesh"
print(names)

{1: 'pavan', 2: 'yogesh', 3: 'kanna', 4: 'mallesh'}

#21) How do you remove a key-value pair from a dictionary?
- pop method

In [34]:
names={1:"pavan",2:"yogesh",3:"kanna"}
names.pop(3)
print(names)

{1: 'pavan', 2: 'yogesh'}

#22) How do you add an element to a set?
- we can use add or update for adding a element in the set

In [35]:
names={"pavan","yogesh","kanna"}
names.add("mallesh")
print(names)

{'kanna', 'yogesh', 'mallesh', 'pavan'}

#23) How do you remove an element from a set?
- we can remove an element by using discard or remove

In [36]:
names={"pavan","yogesh","kanna"}
names.remove("pavan")
print(names)

{'kanna', 'yogesh'}

#24) What are the common set operations in Python?
- union
- intersection
- difference
#25) Write a Python program to find the index of an element in a tuple?

In [38]:
names=("pavan","yogesh","kanna")
a=names.index("kanna")
print(a)

2